
<div>
  I'm a div
</div>

<%= form_for @user do |f| %>
    <%= f.label :username , "Enter a Username" %>
    <%= f.text_field :username %>
    <%= f.label :password , "Enter a Password" %>
    <%= f.text_field :password %>
    <%= f.label :confirmation , "Enter Confirmation again" %>
    <%= f.text_field :confirmation %>
    <%= f.label :confirmation , "Enter Confirmation again" %>
    <%= f.submit "Create new account" %>
<% end %>
