<!DOCTYPE html>
<html>
<head>
  <title>GameContestServer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>


<body onload="main()" onkeydown = "move_view(event);">
    <nav class = "navbar navbar-default" role = "navigation">
        <a class = "navbar-brand" href = '<%= root_path %>'> Game Contest Server </a>
        
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><%=link_to 'Home' , users_path %></li>         
          <li class="active"><a href= '<%=signup_path%>'>Sign Up</a></li>
          <li class="active"><a href= '<%=users_path%>'>Users</a></li>
          <% if logged_in? %>
            <li class="active"><a href= '<%=user_path(current_user)%>'>Profile</a></li>  
            <li class="active"><%=link_to 'Log Out' , logout_path, :method => :delete %></li>         
          <% else %>
            <li class="active"><a href= '<%=login_path%>'>Log In</a></li>  
          <% end %>
        </ul>
       </div>
     </nav>
    
    <% flash.each do |level , message| %>
      <div class="alert alert-<%= level %>"> <%= message %> </div> 
    <%end%>
    <%= yield %>
    <canvas id="webgl" width="500" height="500" >
    Please use a browser that supports "canvas"
    </canvas>
            
</body>
</html>
